.tree-column {
	padding: 10px;
	vertical-align: top;
	display: inline-block;
}

.tree-subcolumn {
	display: grid;
}

.tree-node {
	font-size: 1.1rem;
	cursor: pointer;
	padding: 5px 20px 5px 10px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.tree-node {
	color: #333;
}

.tree-node i {
	margin-right: 5px;
}

.tree-node:not(.selected):hover {
	background: var(--color-light);
	color: #fff;
	opacity: 0.6;
}

.tree-node.selected {
	background: var(--color-light);
	order: -1;
}

.tree-node.selected {
	color: #fff;
}